body{
    width: 900px;
    margin: 0 auto;
    padding: 0 40px 30px 30px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(77, 106, 115);
    font-size: 15px;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#inicio {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 2px solid rgb(243, 178, 98);
    margin-bottom: 10px;
    background-color: rgb(242, 197, 142);
    text-align: center;
}
